body.browse #columns, body.detail #columnsWrapper #columns {
  *zoom: 1; }
body.browse #columns:after, body.detail #columnsWrapper #columns:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }
body.browse #columns .slotSection, body.detail #columnsWrapper #columns .slotSection {
  overflow: hidden;
  position: relative; }
body.browse #columns #centerColumn, body.detail #columnsWrapper #columns #centerColumn {
  float: left;
  margin-left: 0;
  border: medium none;
  padding: 0; }
body.browse #columns #centerColumn .slotSection, body.detail #columnsWrapper #columns #centerColumn .slotSection {
  clear: both; }
body.browse #columns #centerColumn .TwoInnerColumn, body.browse #columns #centerColumn .TwoThirdLeftInnerColumn, body.browse #columns #centerColumn .TwoThirdRightInnerColumn, body.browse #columns #centerColumn .ThreeInnerColumn, body.browse #columns #centerColumn .FourInnerColumn, body.detail #columnsWrapper #columns #centerColumn .TwoInnerColumn, body.detail #columnsWrapper #columns #centerColumn .TwoThirdLeftInnerColumn, body.detail #columnsWrapper #columns #centerColumn .TwoThirdRightInnerColumn, body.detail #columnsWrapper #columns #centerColumn .ThreeInnerColumn, body.detail #columnsWrapper #columns #centerColumn .FourInnerColumn {
  clear: both;
  overflow: hidden; }
body.browse #columns #centerColumn .TwoInnerColumn div.slotSection, body.browse #columns #centerColumn .TwoThirdLeftInnerColumn div.slotSection, body.browse #columns #centerColumn .TwoThirdRightInnerColumn div.slotSection, body.browse #columns #centerColumn .ThreeInnerColumn div.slotSection, body.browse #columns #centerColumn .FourInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn .TwoInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn .TwoThirdLeftInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn .TwoThirdRightInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn .ThreeInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn .FourInnerColumn div.slotSection {
  float: left;
  clear: none;
  min-height: 1px; }
body.browse #columns #leftColumn, body.detail #columnsWrapper #columns #leftColumn {
  width: 182px;
  border-right: 1px solid #cccccc;
  float: left;
  margin-right: -1px;
  padding-right: 18px;
  min-height: 1px;
  margin-left: -1px; }
body.browse #columns #rightColumn, body.detail #columnsWrapper #columns #rightColumn {
  width: 182px;
  /*border-left: 1px solid #cccccc;*/
  float: left;
  /*margin-left: -1px;*/
  margin-left:0px;
  padding-left: 18px;
  min-height: 1px;
  margin-right: -1px; }
body.browse #columns #centerColumn, body.detail #columnsWrapper #columns #centerColumn {
  min-height: 1px; }
body.browse #columns #centerColumn.centerColumnWide, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide {
  width: 954px; }
body.browse #columns #centerColumn.centerColumnWide .TwoInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .TwoInnerColumn div.slotSection {
  width: 50%; }
body.browse #columns #centerColumn.centerColumnWide .ThreeInnerColumn div.slotSection, body.browse #columns #centerColumn.centerColumnWide .TwoThirdLeftInnerColumn div.slotSection.lastSection, body.browse #columns #centerColumn.centerColumnWide .TwoThirdRightInnerColumn div.slotSection.firstSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .ThreeInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .TwoThirdLeftInnerColumn div.slotSection.lastSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .TwoThirdRightInnerColumn div.slotSection.firstSection {
  width: 318px; }
body.browse #columns #centerColumn.centerColumnWide .TwoThirdLeftInnerColumn div.slotSection.firstSection, body.browse #columns #centerColumn.centerColumnWide .TwoThirdRightInnerColumn div.slotSection.lastSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .TwoThirdLeftInnerColumn div.slotSection.firstSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .TwoThirdRightInnerColumn div.slotSection.lastSection {
  width: 636px; }
body.browse #columns #centerColumn.centerColumnWide .FourInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .FourInnerColumn div.slotSection {
  width: 238px; }
body.browse #columns #centerColumn.centerColumnWide .FourInnerColumn div.slotSection.lastSection, body.browse #columns #centerColumn.centerColumnWide .FourInnerColumn div.slotSection.firstSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .FourInnerColumn div.slotSection.lastSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnWide .FourInnerColumn div.slotSection.firstSection {
  width: 239px; }
body.browse #columns #centerColumn.centerColumnMedium, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium {
  width: 735px; }
body.browse #columns #centerColumn.centerColumnMedium .TwoInnerColumn div.slotSection.firstSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium .TwoInnerColumn div.slotSection.firstSection {
  width: 367px; }
body.browse #columns #centerColumn.centerColumnMedium .TwoInnerColumn div.slotSection.lastSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium .TwoInnerColumn div.slotSection.lastSection {
  width: 368px; }
body.browse #columns #centerColumn.centerColumnMedium .ThreeInnerColumn div.slotSection, body.browse #columns #centerColumn.centerColumnMedium .TwoThirdLeftInnerColumn div.slotSection.lastSection, body.browse #columns #centerColumn.centerColumnMedium .TwoThirdRightInnerColumn div.slotSection.firstSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium .ThreeInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium .TwoThirdLeftInnerColumn div.slotSection.lastSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium .TwoThirdRightInnerColumn div.slotSection.firstSection {
  width: 245px; }
body.browse #columns #centerColumn.centerColumnMedium .TwoThirdLeftInnerColumn div.slotSection.firstSection, body.browse #columns #centerColumn.centerColumnMedium .TwoThirdRightInnerColumn div.slotSection.lastSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium .TwoThirdLeftInnerColumn div.slotSection.firstSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium .TwoThirdRightInnerColumn div.slotSection.lastSection {
  width: 490px; }
body.browse #columns #centerColumn.centerColumnMedium.centerColumnWithLeft, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium.centerColumnWithLeft {
  margin-right: -1px; }
body.browse #columns #centerColumn.centerColumnMedium.centerColumnWithRight, body.detail #columnsWrapper #columns #centerColumn.centerColumnMedium.centerColumnWithRight {
  margin-left: -1px; }
body.browse #columns #centerColumn.centerColumnNarrow, body.detail #columnsWrapper #columns #centerColumn.centerColumnNarrow {
  width: 516px; }
body.browse #columns #centerColumn.centerColumnNarrow .TwoInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnNarrow .TwoInnerColumn div.slotSection {
  width: 50%; }
body.browse #columns #centerColumn.centerColumnNarrow .ThreeInnerColumn div.slotSection, body.browse #columns #centerColumn.centerColumnNarrow .TwoThirdLeftInnerColumn div.slotSection.lastSection, body.browse #columns #centerColumn.centerColumnNarrow .TwoThirdRightInnerColumn div.slotSection.firstSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnNarrow .ThreeInnerColumn div.slotSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnNarrow .TwoThirdLeftInnerColumn div.slotSection.lastSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnNarrow .TwoThirdRightInnerColumn div.slotSection.firstSection {
  width: 172px; }
body.browse #columns #centerColumn.centerColumnNarrow .TwoThirdLeftInnerColumn div.slotSection.firstSection, body.browse #columns #centerColumn.centerColumnNarrow .TwoThirdRightInnerColumn div.slotSection.lastSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnNarrow .TwoThirdLeftInnerColumn div.slotSection.firstSection, body.detail #columnsWrapper #columns #centerColumn.centerColumnNarrow .TwoThirdRightInnerColumn div.slotSection.lastSection {
  width: 344px; }
body.browse #columns #centerColumn.centerColumnWithLeft, body.detail #columnsWrapper #columns #centerColumn.centerColumnWithLeft {
  border-left: 1px solid #cccccc;
  padding-left: 18px; }
body.browse #columns #centerColumn.centerColumnWithRight, body.detail #columnsWrapper #columns #centerColumn.centerColumnWithRight {
  border-right: 1px solid #cccccc;
  padding-right: 18px; }

body.browse #columns #centerColumn.centerColumnNarrow div.com-amazon-webstore-SearchResults-4 ol.productList.searchResultsList {
  margin-left: -7px;
  margin-right: -7px; }
body.browse #columns #centerColumn.centerColumnNarrow div.com-amazon-webstore-SearchResults-4 ol.productList.searchResultsList li.product {
  width: 160px;
  margin-left: 7px;
  margin-right: 7px; }
body.browse #columns #centerColumn.centerColumnNarrow div.com-amazon-webstore-SearchResults-4 ol.productList.searchResultsList li.product .productImage {
  max-width: 158px; }
body.browse #columns #centerColumn.centerColumnNarrow div.com-amazon-webstore-PaginationTopBrowse-2 div.searchOptions div.sortRefinement {
  left: 0;
  position: relative;
  top: 0; }
body.browse #columns #centerColumn.centerColumnNarrow div.com-amazon-webstore-PaginationTopBrowse-2 div.searchOptions div.searchPagination {
  float: none;
  text-align: center;
  padding-top: 2px; }
body.browse #columns #centerColumn.centerColumnNarrow div.com-amazon-webstore-PaginationTopBrowse-2 div.searchOptions div.resultSizeForm {
  right: 9px;
  position: absolute;
  top: 9px; }
